
// // Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// // Variables
// @import "variables";

// // Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./layout.scss";
@import "./theme.scss";

body{
	padding: 0;
	margin: 0;
	background: #f3f3f3;
}

form{
	&.is-fullwidth{
		width: 100% !important;
	}
}

.dropdown{
	.dropdown-toggle{
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
	}

	ul.dropdown-options{
		position: absolute;
		display: none;
		text-decoration: none;
		top: 100%;
		right: 0;
		left: auto;
		z-index: 1000;
		background-color: #fff;
		// margin: 8px 0 0;
		background-clip: padding-box;
		box-shadow: 0 4px 8px rgba(0,0,0,.15);
		list-style: none;
		text-align: left;


		img{
			max-height: none;
			max-width: none;
		}

		li{	
			padding: 3px 9px 3px 9px;

			&:hover{
				background-color: rgba(0,0,0,.1);
			}

			&.divider{
				padding: 0;
			    margin: 0;
				height: 1px;
			    overflow: hidden;
			    background-color: #e5e5e5;
			}

			&.no-hover:hover{
				background-color: inherit;
			}
		}

	}

	&.open{
		.dropdown-options{
			display: block;
		}
	}
}

section.experience,
section.education,
section.profile{
	padding: 7px 0 0 0;
}

section.profile{
	.photo{
		img{			
			width: 160px;
			height: 160px;
		}
	}

	.summary{
		padding-left: 13px;
		line-height: 1.8em;

		h1{
			font-size: 1.3em;
			font-weight: 800;
		}

		span{
			font-size: 15px;
			
			.icon{
				font-size: 15px;
				margin-right: 5px;
			}
		}
	}
}

section.experience,
section.education{
	.box{
		header{
			display: flex;

			.title{
				flex: 1;
				margin: 0;
			    font-size: 17px;
			    font-weight: 400;
			}

			.action{
				.fa{
					vertical-align: -moz-middle-with-baseline;
					vertical-align: -webkit-baseline-middle;
					color: #000;
				}
			}
		}

		ul{
			li{
				padding-top: 20px;

				.el-logo{
					position: relative;
				    width: 64px;
				    height: 64px;
				    float: left;
				}

				.el-summary{
					margin-left: 80px;

					h1, h2, h3, h4, h5{
						margin: 0;
						line-height: 24px;
						font-size: 15px;
					}

					.title{
						font-size: 17px;
						font-weight: 800;
					}

					.company,
					.college{
						font-weight: 600;
					}
				}

				.el-detail{
					margin-left: 80px;
					margin-top: 13px;
				}
			}
		}
	}
}