$gray: #464a4c;
$nav-tabs-color: $gray;

@import "./layout.scss";
@import "./theme.scss";

@media (min-width: 0) and (max-width: 575px){
    .container {
        width: 540px;
        max-width: 100%;
    }
}

.navbar{
    width: 100%;
    background: #fff !important;

    .navbar-toggler{
        cursor: pointer;
        outline: none;
        height: 40px;
        width: 3.25rem;
        border: none;

        span{
            background-color: #4a4a4a;
            display: block;
            width: 64%;
            height: 1px;
            left: 50%;
            margin-left: -16px;
            position: absolute;
            top: 50%;

            &:nth-child(1) {
                margin-top: -9px;
            }

            &:nth-child(2) {
                margin-top: -1px;
            }

            &:nth-child(3) {
                margin-top: 7px;
            }
        }
    }
}

.collapse-menu{
    background-color: #fff;
}
