@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_custom.scss";

$nav-tabs-color: $gray;

@import "./layout.scss";
@import "./theme.scss";
@import "./page-sidebar.scss";

@media (min-width: 0) and (max-width: 575px){
    .container {
        width: 540px;
        max-width: 100%;
    }
}

.navbar{
    width: 100%;
    background: #fff !important;

    .navbar-toggler{
        cursor: pointer;
        outline: none;
        height: 40px;
        width: 3.25rem;
        border: none;

        span{
            background-color: #4a4a4a;
            display: block;
            width: 64%;
            height: 1px;
            left: 50%;
            margin-left: -16px;
            position: absolute;
            top: 50%;

            &:nth-child(1) {
                margin-top: -9px;
            }

            &:nth-child(2) {
                margin-top: -1px;
            }

            &:nth-child(3) {
                margin-top: 7px;
            }
        }
    }
}

.middle-wrapper{
    > .content-wrapper{
        flex: 1;
    }
}

.collapse-menu{
    background-color: #fff;
}

footer{
    margin-top: 14px;
}

.alert {
    border-radius: 2px;
    border-width: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);

    &-success{
        background-color: #5dc09c;
        border-color: #4bb97e;
        color: #f0f9f6;
    }

    &-danger{
        background-color: #e7505a;
        border-color: #e43a61;
        color: #fff;
    }
}

.btn{
    cursor: pointer;
}

.btn, .btn:focus{
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);
}

a.btn:focus.btn-secondary{
    color: $white;
}
