.page-sidebar{
    background-color: #364150 !important;
    order: 1;

    &.desktop{
        order: 1;
        width: 235px;
        margin-right: -235px;
        transition: margin 300ms ease-in-out;

        &.open{
            margin-right: 0;
        }
    }

    &.mobile{
        order: 0;
        height: 0;
        overflow: hidden;
        transition: height 300ms ease-in-out;
    }

    .nav-item{
        border-top: solid 1px lighten(#364150, 6%);

        a.nav-link{
            color: #fff;
            padding: 15px 10px 15px 14px;

            &:hover{
                background-color: lighten(#364150, 4%);
            }

            > .fa{
                display: inline-block;
                width: 32px;
            }

            span{
                display: inline-block;

                &.arrow{
                    float: right;
                }
            }
        }

        &:first-child{
            border: none;
        }

        .sub-menu{
            padding: 0;
            display: none;
            background-color: darken(#364150, 2%);

            &.open{
                display: block;
            }

            a.nav-link{
                border: none;
                padding: 11px 0 11px 66px;
            }
        }
    }
}
