.page-sidebar{
    .nav-item{

        a.nav-link{
            color: #fff;
            border-top: solid 1px #ccc;

            > .fa{
                display: inline-block;
                width: 32px;
            }

            span{
                display: inline-block;

                &.arrow{
                    float: right;
                }
            }
        }

        &:first-child{
            a.nav-link{
                border: none;
            }
        }

        .sub-menu{
            padding-left: 56px;
            display: none;

            &.open{
                display: block;
            }

            a.nav-link{
                border: none;
            }
        }
    }

}
