.is-flex-center-all{
	justify-content: center;
	align-items: center;
}

.avatar-photo{
	border-radius: 50%;
}

.hide{
	display: none !important;
}

.border-bottom{
	border-bottom: solid 1px #dcdcdc;
}

.section{
	background: transparent;
}

.box{
	box-shadow: none;
	border: solid 1px #dcdcdc;
	background-color: #fff;
}

.fs-17-fw-800{
	font-size: 17px !important;
    font-weight: 800 !important;
}

.fs-14{
	font-size: 14px !important;
}

.text-muted-50{
	color: #848484;
}

.text-muted{
	color: #afafaf;
}

.rounded{
	border-radius: 50%;
}

.is-full-width-height{
	width: 100%;
	height: 100%;
}

.bg-white{
	background-color: #fff;
}

.bg-f3f3f3{
	background-color: #f3f3f3;
}

.no-border{
	border: none !important;
}

.border-left{
	border-left: 1px solid #dbdbdb;
}

.border-right{
	border-right: 1px solid #dbdbdb;
}

.border-top{
	border-top: 1px solid #dbdbdb;
}

.border-bottom{
	border-bottom: 1px solid #dbdbdb;
}

.shadow20 {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.text-shadow{
	text-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);
}

.img-32x32{
	width: 32px;
	height: 32px;
}

.z-index-1000{
	z-index: 1000;
}

.border-radius-0{
	border-radius: 0;
}

.border-top{
	&-left-radius{
		&-0{
			border-top-left-radius: 0;
		}
	}

	&-right-radius{
		&-0{
			border-top-right-radius: 0;
		}
	}
}

.table th{
	border-top: 0;
}

.nav-tabs{
	.nav-link{
		color: $nav-tabs-color;
		opacity: 0.5;

		&.active,
		&:hover{
			opacity: 1;
		}
	}
}

.text-secondary{
	color: $secondary-color !important;
}

a.text-secondary:hover{
	color: darken($secondary-color, 15%) !important;
}

.text-gray{
	color: $gray !important;
}

.width{
	&-min{
		&-200{
			min-width: 200px !important;
		}
	}

	&-200{
		width: 200px !important;
	}
}

.font-weight{
	&-600{
		font-weight: 600 !important;
	}
}

.fs{
	&-17{
		font-size: 17px !important;
	}
}
