.is-flex-center-all{
	justify-content: center;
	align-items: center;
}

.avatar-photo{
	border-radius: 50%;
}

.hide{
	display: none !important;
}

.section{
	background: transparent;
}

.box{
	box-shadow: none;
	border: solid 1px #dcdcdc;
}

.fs-17-fw-800{
	font-size: 17px !important;
    font-weight: 800 !important;
}

.text-muted{
	color: #848484;
}